In [315]:
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [316]:
df=pd.read_excel(r"C:\Users\rajla\Desktop\IRIM\nss_irim_siscomb_new2018_han.xlsx")

In [317]:
df.head()

,ACADEMIC_PERIOD,PERSON_UID,ID,BIRTH_DATE,IRIM_SC_PRI_COLLEGE,IRIM_SC_PRI_DEGREE,IRIM_SC_PRI_MAJOR,IRIM_SC_PRI_FIRST_CONC,IRIM_SC_PRI_PROGRAM,GENDER,...,SORGPAT_GPA,T2_ENROLLED,T3_ENROLLED,ACCOUNT_BALANCE,C_FM_UNMET_NEED,C_AMOUNT_NONLOANS_RCVD,C_AMOUNT_LOANS_RCVD,ET_AGE,FALL_UA_ATTR1,TERM_RESIDENCY1
0,201860,713886,A11538436,1994-02-23,SB,BSBA,MKTG,NaN,SB BSBAMKTG,F,...,3.09,1,0,6294.98,0.0,0.00,0,24,N,R
1,201860,748099,A11584552,1993-06-16,EN,BSAE,AERS,NaN,EN BSAEAERS,F,...,3.93,1,0,7275.67,14705.0,3000.00,0,25,N,R
2,201860,769414,A11609331,1994-10-25,AS,BS,ZOOL,NaN,AS BS ZOOL,M,...,2.64,0,0,7752.92,11205.0,3048.00,0,23,N,R
3,201860,779624,A11621467,1999-07-12,EN,BSCH,CHEN,PMED,EN BSCHCHENPMED,F,...,4.13,1,0,7841.50,-24020.5,12010.25,0,19,N,N
4,201860,825552,A11677138,1999-11-17,UC,B,UND,NaN,UC B UND,F,...,3.33,1,0,6200.00,0.0,1250.00,2722,18,Y,R

In [318]:
df.columns.get_loc("IRIM_REPORTED_RACE_DESC")

11

In [319]:
df.shape

(3096, 149)

In [320]:
df.drop(df.columns[[0, 2,3,4,5,6,7,8,10,11,12,13,16,145,144,142,141]],axis=1, inplace=True)

In [321]:
df.shape

(3096, 132)

In [322]:
df1=df.drop(df.loc[:,'HS_STUDY_DESC':'TERM_3'].columns,axis=1)

In [323]:
df1.shape

(3096, 96)

In [324]:
df2= df1.drop(df.loc[:,'T2_GPA_CREDITS':'SUPER_ACT_FROM_SATR'].columns, axis=1)

In [325]:
df2.shape

(3096, 57)

In [326]:
#df2.head()

In [327]:
df2.isna().sum()

PERSON_UID                 0
GENDER                     1
IRIM_FIRST_GEN_FLAG        0
IRIM_LEGACY_FLAG           0
HS_STUDY                   0
OSU_STUDY                  0
DIFFICULTY_01              0
DIFFICULTY_02              0
DIFFICULTY_03              0
DIFFICULTY_04              0
DIFFICULTY_05              0
DIFFICULTY_06              0
DIFFICULTY_07              0
DIFFICULTY_08              0
DIFFICULTY_09              0
DIFFICULTY_10              0
CONFIDENCY                 0
ANT_GPA                    0
HS_ACTIVITY_01             0
HS_ACTIVITY_02             0
HS_ACTIVITY_03             0
HS_ACTIVITY_04             0
HS_ACTIVITY_05             0
RS_01                     10
RS_02                     10
RS_03                     10
RS_04                     10
RS_05                     10
RS_06                     10
RS_07                     10
RS_08                     10
RS_09                     10
RS_10                     10
RS_11                     10
RS_12                     10
RS_13                     10
RS_01_CALC                10
RS_02_CALC                10
RS_03_CALC                10
RS_07_CALC                10
RS_10_CALC                10
SOC_SCORE                 10
ET_GPA                     0
ET_GPA_CREDITS             0
ET_CREDITS_ATTEMPTED       0
ET_CREDITS_EARNED          0
ET_CREDITS_PASSED          0
ET_QUALITY_POINTS          0
T2_GPA                   237
HIGHEST_ACT_COMPOSITE     24
ACT_COMPOSITE_SUPER       24
SORGPAT_GPA               31
T2_ENROLLED                0
C_FM_UNMET_NEED            0
ET_AGE                     0
FALL_UA_ATTR1              0
TERM_RESIDENCY1            0
dtype: int64

In [328]:
#df3=df2.dropna(subset=['GENDER'])

In [334]:
df3=df2.dropna()

In [335]:
df3.isna().sum()

PERSON_UID               0
GENDER                   0
IRIM_FIRST_GEN_FLAG      0
IRIM_LEGACY_FLAG         0
HS_STUDY                 0
OSU_STUDY                0
DIFFICULTY_01            0
DIFFICULTY_02            0
DIFFICULTY_03            0
DIFFICULTY_04            0
DIFFICULTY_05            0
DIFFICULTY_06            0
DIFFICULTY_07            0
DIFFICULTY_08            0
DIFFICULTY_09            0
DIFFICULTY_10            0
CONFIDENCY               0
ANT_GPA                  0
HS_ACTIVITY_01           0
HS_ACTIVITY_02           0
HS_ACTIVITY_03           0
HS_ACTIVITY_04           0
HS_ACTIVITY_05           0
RS_01                    0
RS_02                    0
RS_03                    0
RS_04                    0
RS_05                    0
RS_06                    0
RS_07                    0
RS_08                    0
RS_09                    0
RS_10                    0
RS_11                    0
RS_12                    0
RS_13                    0
RS_01_CALC               0
RS_02_CALC               0
RS_03_CALC               0
RS_07_CALC               0
RS_10_CALC               0
SOC_SCORE                0
ET_GPA                   0
ET_GPA_CREDITS           0
ET_CREDITS_ATTEMPTED     0
ET_CREDITS_EARNED        0
ET_CREDITS_PASSED        0
ET_QUALITY_POINTS        0
T2_GPA                   0
HIGHEST_ACT_COMPOSITE    0
ACT_COMPOSITE_SUPER      0
SORGPAT_GPA              0
T2_ENROLLED              0
C_FM_UNMET_NEED          0
ET_AGE                   0
FALL_UA_ATTR1            0
TERM_RESIDENCY1          0
dtype: int64

In [336]:
df3.head()

,PERSON_UID,GENDER,IRIM_FIRST_GEN_FLAG,IRIM_LEGACY_FLAG,HS_STUDY,OSU_STUDY,DIFFICULTY_01,DIFFICULTY_02,DIFFICULTY_03,DIFFICULTY_04,...,ET_QUALITY_POINTS,T2_GPA,HIGHEST_ACT_COMPOSITE,ACT_COMPOSITE_SUPER,SORGPAT_GPA,T2_ENROLLED,C_FM_UNMET_NEED,ET_AGE,FALL_UA_ATTR1,TERM_RESIDENCY1
0,713886,F,Y,N,2,4,4,2,4,4,...,43,3.692308,23.0,23.0,3.09,1,0.0,24,N,R
1,748099,F,N,N,3,4,2,2,3,2,...,64,3.769231,32.0,32.0,3.93,1,14705.0,25,N,R
3,779624,F,N,N,1,3,3,2,2,2,...,64,4.000000,32.0,32.0,4.13,1,-24020.5,19,N,N
4,825552,F,N,N,2,3,4,3,3,2,...,22,3.307692,19.0,20.0,3.33,1,0.0,18,Y,R
5,832176,M,N,N,1,3,3,2,2,4,...,53,3.461538,34.0,34.0,4.50,1,-8332.5,18,N,R

In [337]:
df3.describe()

,PERSON_UID,HS_STUDY,OSU_STUDY,DIFFICULTY_01,DIFFICULTY_02,DIFFICULTY_03,DIFFICULTY_04,DIFFICULTY_05,DIFFICULTY_06,DIFFICULTY_07,...,ET_CREDITS_EARNED,ET_CREDITS_PASSED,ET_QUALITY_POINTS,T2_GPA,HIGHEST_ACT_COMPOSITE,ACT_COMPOSITE_SUPER,SORGPAT_GPA,T2_ENROLLED,C_FM_UNMET_NEED,ET_AGE
count,2.820000e+03,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,...,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000,2820.000000
mean,1.137853e+06,1.578014,2.963475,3.211702,3.007092,3.147518,3.355319,2.990426,3.669504,3.716312,...,12.997872,13.000000,43.138298,3.023036,25.087943,25.604965,3.767801,0.998936,-1347.381365,18.137234
std,3.923428e+04,0.774697,0.756487,1.015072,0.950319,0.874257,1.031255,1.187128,1.031600,1.064279,...,2.827046,2.827047,13.771820,0.963279,4.078173,4.105730,0.423730,0.032605,7425.424414,0.508840
min,7.138860e+05,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,14.000000,15.000000,1.630000,0.000000,-51698.250000,17.000000
25%,1.135252e+06,1.000000,2.000000,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,3.000000,...,12.000000,12.000000,35.000000,2.615385,22.000000,23.000000,3.500000,1.000000,-2752.750000,18.000000
50%,1.142556e+06,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,...,14.000000,14.000000,45.000000,3.250000,25.000000,25.000000,3.870000,1.000000,0.000000,18.000000
75%,1.153157e+06,2.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.250000,...,15.000000,15.000000,53.000000,3.750000,28.000000,28.000000,4.070000,1.000000,199.125000,18.000000
max,1.187563e+06,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,19.000000,19.000000,73.000000,4.000000,36.000000,36.000000,4.770000,1.000000,36272.000000,27.000000

In [338]:
#Data Visualization
#college_counts=df3['IRIM_SC_PRI_DEGREE'].value_counts()
#college_counts.plot(kind='bar')
#Degree_counts = df3['IRIM_SC_PRI_MAJOR'].value_counts()
#Degree_counts.plot(kind='bar')

In [339]:
#df.plot(kind='bar' )
#plt.show()

In [340]:
#scatter_matrix(df2)
#plt.show()

In [341]:
df3.groupby('GENDER').size()

GENDER
F    1538
M    1282
dtype: int64

In [342]:
df3.groupby('T2_ENROLLED').size()

T2_ENROLLED
0       3
1    2817
dtype: int64

In [343]:
#df3.groupby('FALL_UA_ATTR1').size()

In [344]:
df3['GENDER']=df3['GENDER'].map({'F':1,'M':0})
df3['IRIM_FIRST_GEN_FLAG']=df3['IRIM_FIRST_GEN_FLAG'].map({'Y':1,'N':0})
df3['IRIM_LEGACY_FLAG']=df3['IRIM_LEGACY_FLAG'].map({'Y':1,'N':0})
df3['TERM_RESIDENCY1']=df3['TERM_RESIDENCY1'].map({'R':1,'N':0})
df3['FALL_UA_ATTR1']=df3['FALL_UA_ATTR1'].map({'Y':1,'N':0})

C:\Users\rajla\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\rajla\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\rajla\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\rajla\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\rajla\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [345]:
df3.head()

,PERSON_UID,GENDER,IRIM_FIRST_GEN_FLAG,IRIM_LEGACY_FLAG,HS_STUDY,OSU_STUDY,DIFFICULTY_01,DIFFICULTY_02,DIFFICULTY_03,DIFFICULTY_04,...,ET_QUALITY_POINTS,T2_GPA,HIGHEST_ACT_COMPOSITE,ACT_COMPOSITE_SUPER,SORGPAT_GPA,T2_ENROLLED,C_FM_UNMET_NEED,ET_AGE,FALL_UA_ATTR1,TERM_RESIDENCY1
0,713886,1,1,0,2,4,4,2,4,4,...,43,3.692308,23.0,23.0,3.09,1,0.0,24,0,1
1,748099,1,0,0,3,4,2,2,3,2,...,64,3.769231,32.0,32.0,3.93,1,14705.0,25,0,1
3,779624,1,0,0,1,3,3,2,2,2,...,64,4.000000,32.0,32.0,4.13,1,-24020.5,19,0,0
4,825552,1,0,0,2,3,4,3,3,2,...,22,3.307692,19.0,20.0,3.33,1,0.0,18,1,1
5,832176,0,0,0,1,3,3,2,2,4,...,53,3.461538,34.0,34.0,4.50,1,-8332.5,18,0,1

In [346]:
df3.groupby('GENDER').size()

GENDER
0    1282
1    1538
dtype: int64

In [347]:
#Modeling
from sklearn import model_selection
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import KFold

In [348]:
df3.columns.get_loc("T2_ENROLLED")

52

In [349]:
#Cat_var=df3[['IRIM_SC_PRI_COLLEGE','IRIM_SC_PRI_DEGREE','IRIM_SC_PRI_MAJOR','GENDER','IRIM_REPORTED_RACE_DESC',
 #                        'IRIM_FIRST_GEN_FLAG','IRIM_LEGACY_FLAG','TERM_RESIDENCY1','FALL_UA_ATTR1']]

In [350]:
#dummies=pd.get_dummies(data=Cat_var,drop_first=True)

In [351]:
#dummies.head()

In [352]:
#dummies.columns

In [353]:
#split dataset
array=df3.values
X=array[:,1:52]
y=array[:,52]

In [354]:
X_train,X_validation,y_train,y_validation=model_selection.train_test_split(X,y,test_size=0.20,random_state=7)

In [355]:
seed=7
scoring='accuracy'
models = []
models.append(('LR',LogisticRegression(solver='liblinear',multi_class='ovr')))
models.append(('LDA',LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART',DecisionTreeClassifier()))
models.append(('NB',GaussianNB()))
models.append(('SVM',SVC(gamma='auto')))

In [356]:
#Evaluate each model in turn
results =[]
names = []
for name, model in models:
    results = []
names = []
for name , model in models:
    kfold=model_selection.KFold(n_splits=10,random_state=seed)
    cv_results = model_selection.cross_val_score(model, X_train,y_train, cv= kfold,scoring =scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name,cv_results.mean(),cv_results.std())
    #msg = (f'{name} {cv_results.mean()} {cv_results.std()}')
    print(msg)

LR: 0.998228 (0.002170)

C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")
C:\Users\rajla\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

LDA: 0.998228 (0.002170)
KNN: 0.998673 (0.002028)
CART: 0.996456 (0.003858)
NB: 0.998228 (0.002170)
SVM: 0.998673 (0.002028)